	#table {
		width: 470px;
		border-top: 4px solid #e3e7e7;
		}

	#table p {
		clear: both;
		width: 100%;
		margin: 0;
		}
		#table span {
		float: left;
		padding: 0 10px;
		border-left: 1px solid #e3e7e7;
		border-bottom: 1px solid #e3e7e7;
		}
	
	#table span.col1 {
		width: 110px;
		}

		#table span.col2 {
		width: 186px;
		}

		#table span.col3 {
		width: 110px;
		
		}

		#table span.col4 {
		width: 110px;
		
		}

		#table span.col5 {
		width: 110px;
		
		}

		#table span.col6 {
		width: 110px;
		
		}

		#table span.col7 {
		width: 110px;
		
		}

		#table span.col8{
		width: 110px;
		
		}

		#table span.col9 {
		width: 110px;
		
		}

		#table span.col10{
		width: 110px;
		
		border-right: 1px solid #e3e7e7;
		}
